<!DOCTYPE html>
<html lang="en">
    <head>
        <title>reszoom</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div class="center-panel">
            <form action="/accounts/?target=/accounts/create/" method="post" enctype="multipart/form-data">
                <input type="submit" class="danger" name="delete" value="confirm delete account"/>
                <input type="hidden" name="operation" value="delete"/>
            </form>
            <br />
            <a href="/users/{{logname}}">Back to account</a>
        </div>
    </body>
</html>
