<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Resume Site</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div id="floating-sidebar">
            <h1><a href="/">home</a></h1>
            <h2>
                <a href="/users/{{logname}}/">{{logname}}</a>
            </h2>
        </div>
        <div class="site">
            <form action="/accounts/?target=/accounts/create/" method="post" enctype="multipart/form-data">
                <input type="submit" name="delete" value="confirm delete account"/>
                <input type="hidden" name="operation" value="delete"/>
            </form>
        </div>
    </body>
</html>
