<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- edit.html -->
        <title>reszoom</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div class="center-panel">
            <div class="resume-name"><h1>Edit Profile</h1></div>
            <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
                <p>Profile Picture <input type="file" name="file" accept="image/*"/></p> 
                <p>Full Name <input type="text" name="fullname" value="{{fullname}}" required/></p> 
                <p>Email <input type="text" name="email" value="{{email}}" required/></p> 
                <input type="submit" name="update" value="submit"/>
                <input type="hidden" name="operation" value="edit_account"/>
            </form>
            <a href="/users/{{logname}}">Back to account</a>
        </div>
    </body>
</html>
