<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Site</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div class="center-panel">
            <div class="resume-name"><h1>Change Password</h1></div>
            <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
                <p>Old password  <input type="password" name="old_password" required/></p>
                <p>New password  <input type="password" name="password" required/></p>
                <p>Verify new password  <input type="password" name="check_password" required/></p>
                <p><input type="submit" name="signup" value="sign up"/></p>
                <p><input type="hidden" name="operation" value="update_password"/></p>
            </form>
            <a href="/users/{{logname}}">Back to account</a>
        </div>
    </body>
</html>
