<!DOCTYPE html>
<html lang="en">
    <head>
        <title>reszoom</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <div id="floating-sidebar"></div>
            <div id="view-resumes" class="site">

            </div>
            <div id="reactEntry" class="site">
                <!-- Load JavaScript -->
                <script type="text/javascript" src="{{ url_for('static', filename='js/main.bundle.js') }}"></script>
            </div>
        </div>
    </body>
</html>
