<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div class="stuff">
            <h1><a href="/">home</a></h1>
            <h2>
                <a href="/users/{{logname}}/">{{logname}}</a>
                | 
                <a href="/explore/">explore</a>
            </h2>
            <div class="site">
                <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
                    <p>Old password  <input type="password" name="password" required/></p>
                    <p>New password  <input type="password" name="new_password1" required/></p>
                    <p>Verify new password  <input type="password" name="new_password2" required/></p>
                    <p><input type="submit" name="signup" value="sign up"/></p>
                    <p><input type="hidden" name="operation" value="update_password"/></p>
                </form>
            </div>
            <a href="/accounts/edit/">Back to edit account</a>
        </div>
    </body>
</html>
